$debug:red;
$inactive:rgb(212, 212, 212);
$active:rgb(119, 89, 168);
$inGreen:rgb(96, 219, 65);
$outRed:rgb(245, 90, 90);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
button{
    align-items: center;
    padding: 5px;
}
nav{
    height: 2rem;
    background-color: $inactive;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-options {
    display: block;
    position: absolute;
    overflow: auto;
    background-color:$inactive;
    border-radius: 2px;
    margin-top: 5px;
  }
  
.hidden{
    display: none;
}
.navhome{
    font-size: large;
    margin-right: 2rem;
} 
.app{
    display: flex;
    flex-direction: row;
    gap: 5px;
    .animation{
        width: 50vw;
        height: 70vh;
        border: 1px solid $debug;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        #stackContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        #stack{
            width: 20vw;
            height: 40vh;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
            border-right: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap:2px;
            margin-top: 10vh;
        }
        #queue{
            width: 40vw;
            height: 15vh;
            border-bottom: 2px solid black;
            border-top: 2px solid black;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20vh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start; 
            gap: 2px;
        }
        .data{
            background-color: green;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            &.stack::before{
                content: url("./images/arrow-narrow-right-svgrepo-com.svg");
                position: relative;
                height: 7vh;
                right: 50%;
                top: -125%;
            }
            &.stack::after{
                content: url("./images/arrow-narrow-left-svgrepo-com.svg");
                position: relative;
                height: 7vh;
                left: 50%;
                top: -25%;
            }
            &.queue::before{
                content: url("./images/arrow-narrow-down-svgrepo-com.svg");
                position: relative;
                top: -80%;
                left: 55%;
                width: 0%;
            }
            &.queue.first::after{
                content: url("./images/arrow-narrow-up-svgrepo-com.svg");
                width: 0%;
                position: relative;
                top: 83%;
                left: -55%;          
            }
            &.hideBefore::before{
                content: none;
            }
            &.hideAfter::after{
                content: none;
            }
            &.stack{
                width: 20vw;
                height: 7vh;
            }
            &.queue{
                width: 7.5vw;
                height: 100%;
            }
        }
        .error{
            width: 20vw;
            border: 1px solid $outRed;
            display: none;
            justify-content: center;
            margin-top: 5vh;
            &.queue{
                align-self: center;
            }
        }
    }
    .tabs{
        .container{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 2px;
        }
        .tabs__btns{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        .btn{
            color: $inactive;
            background-color: transparent;
            border: none;
            font-size: large;
            &.active{
                color:$active
            }
        }
        .ctrl{
            width: 8vw;
            height: 3vh;
            border-radius: 7px;
            &.in{
                background-color: $inGreen;
            }
            &.out{
                background-color: $outRed;
            }
        }
        #inpt{
            width: 8vw;
            height: 3vh;
        }
        width: 50vw;
        border: 1px solid $debug;
        &__panels{
            >div{
                width: 100%;
                display: none;
            }
            >div.active{
                display: flex;
            }
        }
    }
}