@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  align-items: center;
  padding: 5px;
}

nav {
  height: 2rem;
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-options {
  display: block;
  position: absolute;
  overflow: auto;
  border-radius: 2px;
  margin-top: 5px;
  z-index: 10;
}

.hidden {
  display: none;
}

.navhome {
  font-size: large;
  margin-right: 2rem;
}

.app {
  width: 80%;
}
.app .animation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.app .animation #appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .animation #stack {
  width: 20vw;
  height: 48vh;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 80px;
  gap: 2px;
}
.app .animation #queue {
  width: 420px;
  max-width: 420px;
  height: 15vh;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}
.app .animation #set {
  display: flex;
  width: 40vw;
  height: 40vh;
  border: black solid 2px;
  margin-top: 10vh;
  display: block;
}
.app .animation #list {
  width: 450px;
  height: 80px;
  display: flex;
  margin-top: 10rem;
  gap: 10px;
  border: solid 1px black;
}
.app .animation #network {
  width: 600px;
  height: 400px;
  border: 1px black solid;
  margin-top: 5rem;
}
.app .animation #buffer {
  border-radius: 50%;
}
.app .animation .data {
  background-color: rgb(119, 89, 168);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.app .animation .data.stack {
  width: 100%;
  height: 80px;
}
.app .animation .data.queue {
  height: 100%;
}
.app .animation .data.set {
  padding: 5px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.app .animation .data.list {
  width: 80px;
  height: 80px;
}
.app .animation #error {
  width: 20vw;
  border: 1px solid rgb(245, 90, 90);
  justify-content: center;
  margin-top: 5vh;
  text-align: center;
}
.app .animation .cell {
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .animation .cell.head {
  background-color: lightgreen;
  z-index: -1;
}
.app .animation .cell.tail {
  background-color: lightcoral;
  z-index: -1;
}
.app .tabs {
  /*.tabs__btns{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
  }*/
}
.app .tabs .tabs__panels .inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.app .tabs .tabs__panels .inputRow.delete {
  justify-content: flex-start;
}
.app .tabs .tabs__panels .inputBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.app .tabs .tabs__panels .inputBox input {
  height: 100%;
}
.app .tabs .container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
.app .tabs .container input {
  border: 2px solid black;
  border-radius: 5px;
}
.app .tabs .btn {
  color: rgb(212, 212, 212);
  background-color: transparent;
  border: none;
  font-size: large;
}
.app .tabs .btn.active {
  color: rgb(119, 89, 168);
}
.app .tabs .ctrl {
  border-radius: 7px;
}
.app .tabs__panels > div {
  width: 100%;
  display: none;
}
.app .tabs__panels > div.active {
  display: flex;
}

@media only screen and (min-width: 48rem) {
  .app .tabs {
    width: 50%;
  }
}
@media only screen and (max-width: 48rem) {
  .app .animation #stack {
    width: 40vw;
  }
  .app .animation #queue {
    width: 50vw;
  }
  .app .animation .data.set {
    width: 40px;
    height: 40px;
  }
}/*# sourceMappingURL=main.css.map */