$debug:red;
$inactive:rgb(212, 212, 212);
$active:rgb(119, 89, 168);
$inGreen:rgb(96, 219, 65);
$outRed:rgb(245, 90, 90);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
button{
    align-items: center;
    padding: 5px;
}
nav{
    height: 2rem;
    background-color: $inactive;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-options {
    display: block;
    position: absolute;
    overflow: auto;
    background-color:$inactive;
    border-radius: 2px;
    margin-top: 5px;
    z-index: 10;
  }
  
.hidden{
    display: none;
}
.navhome{
    font-size: large;
    margin-right: 2rem;
} 
.app{
    display: flex;
    flex-direction: row;
    gap: 5px;
    .animation{
        width: 50vw;
        height: 70vh;
        border: 1px solid $debug;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        #appContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #stack{
            width: 20vw;
            height: 45vh;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
            border-right: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 80px;
            gap: 2px;
        }
        #queue{
            width: 420px;
            height: 15vh;
            border-bottom: 2px solid black;
            border-top: 2px solid black;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20vh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start; 
            gap: 2px;
        }
        #set{
            display: flex;
            width: 40vw;
            height: 40vh;
            border: black solid 2px;
            margin-top: 10vh;
            display: block;
        }
        #list{
            width: 450px;
            height: 80px;
            display: flex;
            margin-top: 10rem;
            gap: 10px;
            border: solid 1px black;
        }
        #network{
            width: 600px; 
            height: 400px; 
            border: 1px black solid; 
            margin-top: 5rem;
        }
        .data{
            background-color: $active;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            &.stack{
                width: 100%;
                height: 80px;
            }
            &.queue{
                width: 80px;
                height: 100%;
            }
            &.set{
                padding: 5px;
                width: 80px;
                height: 80px;
                position: absolute;
            }
            &.list{
                width: 80px;
                height: 80px;
            }
        }
        #error{
            width: 20vw;
            border: 1px solid $outRed;
            justify-content: center;
            margin-top: 5vh;
            text-align: center;
        }
    }
    .tabs{
        .tabs__panels{
            .inputRow{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                &.delete{
                    justify-content: flex-start;
                }
            }
            .inputBox{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .ctrl{
                    height: 100%;
                }
                margin-top: 1rem;
                input{
                    height: 100%;
                }
                
            }
        }
        .container{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 2px;
        }
        .tabs__btns{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        .btn{
            color: $inactive;
            background-color: transparent;
            border: none;
            font-size: large;
            &.active{
                color:$active
            }
        }
        .ctrl{
            width: 8vw;
            height: 3vh;
            border-radius: 7px;
            &.in{
                background-color: $inGreen;
            }
            &.out{
                background-color: $outRed;
            }
        }
        #inpt{
            width: 8vw;
            height: 3vh;
        }
        width: 50vw;
        border: 1px solid $debug;
        &__panels{
            >div{
                width: 100%;
                display: none;
            }
            >div.active{
                display: flex;
            }
        }
    }
}