@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  align-items: center;
  padding: 5px;
}

nav {
  height: 2rem;
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-options {
  display: block;
  position: absolute;
  overflow: auto;
  background-color: rgb(212, 212, 212);
  border-radius: 2px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.navhome {
  font-size: large;
  margin-right: 2rem;
}

.app {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.app .animation {
  width: 50vw;
  height: 70vh;
  border: 1px solid red;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.app .animation #appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .animation #stack {
  width: 20vw;
  height: 40vh;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
  margin-top: 10vh;
}
.app .animation #queue {
  width: 40vw;
  height: 15vh;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}
.app .animation #set {
  display: flex;
  width: 40vw;
  height: 40vh;
  border: black solid 2px;
  margin-top: 10vh;
}
.app .animation #list {
  display: flex;
  margin-top: 10rem;
  gap: 10px;
}
.app .animation .data {
  background-color: green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.app .animation .data.stack::before {
  content: url("./images/arrow-narrow-right-svgrepo-com.svg");
  position: relative;
  height: 7vh;
  right: 50%;
  top: -125%;
}
.app .animation .data.stack::after {
  content: url("./images/arrow-narrow-left-svgrepo-com.svg");
  position: relative;
  height: 7vh;
  left: 50%;
  top: -25%;
}
.app .animation .data.queue::before {
  content: url("./images/arrow-narrow-down-svgrepo-com.svg");
  position: relative;
  top: -80%;
  left: 55%;
  width: 0%;
}
.app .animation .data.queue.first::after {
  content: url("./images/arrow-narrow-up-svgrepo-com.svg");
  width: 0%;
  position: relative;
  top: 83%;
  left: -55%;
}
.app .animation .data.hideBefore::before {
  content: none;
}
.app .animation .data.hideAfter::after {
  content: none;
}
.app .animation .data.stack {
  width: 20vw;
  height: 7vh;
}
.app .animation .data.queue {
  width: 7.5vw;
  height: 100%;
}
.app .animation .data.set {
  padding: 5px;
  width: 5vw;
  height: 5vh;
}
.app .animation .data.list {
  width: 5rem;
  height: 5rem;
}
.app .animation .data.list::before {
  content: attr(data-before);
  position: relative;
  top: -3.5rem;
  width: 0;
  color: black;
}
.app .animation .error {
  width: 20vw;
  border: 1px solid rgb(245, 90, 90);
  display: none;
  justify-content: center;
  margin-top: 5vh;
}
.app .animation .error.queue {
  align-self: center;
}
.app .tabs {
  width: 50vw;
  border: 1px solid red;
}
.app .tabs .tabs__panels .inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.app .tabs .tabs__panels .inputRow.delete {
  justify-content: flex-start;
}
.app .tabs .tabs__panels .inputBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.app .tabs .tabs__panels .inputBox .ctrl {
  height: 100%;
}
.app .tabs .tabs__panels .inputBox input {
  height: 100%;
}
.app .tabs .container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
.app .tabs .tabs__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.app .tabs .btn {
  color: rgb(212, 212, 212);
  background-color: transparent;
  border: none;
  font-size: large;
}
.app .tabs .btn.active {
  color: rgb(119, 89, 168);
}
.app .tabs .ctrl {
  width: 8vw;
  height: 3vh;
  border-radius: 7px;
}
.app .tabs .ctrl.in {
  background-color: rgb(96, 219, 65);
}
.app .tabs .ctrl.out {
  background-color: rgb(245, 90, 90);
}
.app .tabs #inpt {
  width: 8vw;
  height: 3vh;
}
.app .tabs__panels > div {
  width: 100%;
  display: none;
}
.app .tabs__panels > div.active {
  display: flex;
}/*# sourceMappingURL=main.css.map */